body {
    background:
    /* linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ), */
    url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=996&t=st=1704109379~exp=1704109979~hmac=3f8bfdd9bac2d8b0e8667f7f5c7d1a3417e068d45c9ae6e2cecd9b9d7d16cc7f);
    background-attachment: fixed;
    background-size: cover;
   
}

* {
    margin: 0;
    padding: 0;
}